<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Repeating Activitites</a>
      <button type="button" class="navbar-toggle" (click)="collapsed=!collapsed">
        <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
    </div>
    <div class="navbar-collapse" [class.collapse]="collapsed">
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="/" >Home</a></li>
        <li routerLinkActive="active"><a >Do Something</a></li>
        <li routerLinkActive="active"><a >Do Something Else</a></li>
      </ul>
    </div>
  </div>
</nav>
