<div class="row justify-content-between">
  <div class="col-xs-4">
    <strong>{{ instance.completed() }}</strong>
  </div>
  <div class="col-xs-4">
      <!-- TODO: add button to record note -->
      <!-- TODO: add button to uncomplete instance -->
      <!-- TODO: add button to hide instance -->
      <button 
      type="button"
      class="btn btn-primary"
      style="margin-right: 5px;"
      *ngIf="!instance.isDone()">
      Complete</button>
      <!-- TODO: implement delete -->
    <button 
      type="button"
      class="btn btn-danger">
      Delete</button>
    </div>
</div>