<ngb-panel [id]="'activity_panel+'+index">
  <ng-template ngbPanelHeader>
    <div class="d-flex align-items-center justify-content-between">
      <h4>{{ activity.activity-type }} ({{ activity.instances.length }})</h4>
      <div>
        <button class="btn btn-sm btn-primary">Record</button>
        <button class="btn btn-sm btn-primary">List</button>
        <button class="btn btn-sm btn-primary">Edit</button>
      </div>
    </div>
  </ng-template>
  <ng-template ngbPanelContent>
    <strong>Bob</strong>
  </ng-template>
</ngb-panel>