<div class="row">
  <a [routerLink]="[index]"
    routerLinkActive="active"
    class="col-xs-10 pull-left"
    style="cursor: pointer;">
    <h4 class="list-group-item-heading">
      {{ index }} - {{ activity.activity_type }}
    </h4>
    <p class="list-group-item-text">
      {{ activity.day }} ({{ activity.instances.length }})
    </p>
  </a>
  <div class="col-xs-2">
    <div class="pull-right">
      <a [routerLink]="[index, 'edit']">
        <button type="button" class="btn btn-primary">Edit</button>
      </a>
    </div>
  </div>
</div>
