<div class="row">
  <div class="col-xs-8">
    <h4>Activities</h4>
  </div>
  <div class="col-xs-4">
    <button
      routerLink="new"
      class="btn btn-success"
      type="button">New Activity</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <app-activity
        class="list-group-item"
        *ngFor="let currentActivity of activities; let i = index"
        [activity]="currentActivity"
        [index]="i">
      </app-activity>
    </ul>
  </div>
</div>