
<div class="d-flex">
  <div class="flex-grow-1">
    <ngb-accordion #a="ngbAccordion" [closeOthers]="true" activeIds="">
      
      <ngb-panel
        *ngFor="let currentActivity of activities; let activityIndex = index"
        id="activity-{{activityIndex}}">
        <ng-template ngbPanelHeader>
          <app-activity
            [currentActivity]="currentActivity"
            [activityIndex]="activityIndex"
            [accordian]="a">
          </app-activity>
        </ng-template>
        <ng-template ngbPanelContent>
          <ul class="list-group">
            <app-tags-list [tags]="currentActivity.tags">
            </app-tags-list>
            <!-- TODO: look into scrollspy -->
            <app-activity-instance 
              class="list-group-item"
              *ngFor="let instance of currentActivity.instances; let instanceIndex = index"
              [instance]="instance"
              [index]="instanceIndex"
              [accordian]="a"
              [activityIndex]="activityIndex">
            </app-activity-instance>
          </ul>  
        </ng-template>
      </ngb-panel>
  
    </ngb-accordion>
  </div>
</div>