<div class="d-flex align-items-center justify-content-between">
  <!-- TODO: look at using d-flex to increase click area of activity name -->
  <button 
    type="button" 
    class="btn btn-link" 
    (click)="onShowInstances()">
      <strong>{{currentActivity.activity_type}}</strong>
  </button>
  <div>
    <button
      type="button"
      class="btn btn-sm btn-outline-primary ml-2" 
      (click)="onRecordInstance()">Record</button>
    <button 
      type="button" 
      class="btn btn-sm btn-outline-primary ml-2"
      (click)="onEdit()">Edit</button>
  </div>
</div>
