<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-xs-8">
        <h4>{{ selectedActivity.activity_type }}</h4>
      </div>
      <div class="class-xs-4">
        <!-- TODO: add filter to show all vs show only visible -->
        <button 
          class="btn btn-success"
          type="button"
          (click)="onRecordActivity()">Record Activity</button>
      </div>
    </div>
    <hr>
    <div class="row">
      <ul class="list-group">
        <app-activity-instance
          class="list-group-item"
          *ngFor="let instance of selectedActivity.instances; let i = index"
          [instance]="instance"
          [index]="index">
        </app-activity-instance>
      </ul>  
    </div>
  </div>
</div>