<form [formGroup]="activityEditForm" (ngSubmit)="onSave()">
  <div class="row justify-content-center">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="activity">Activity</label>
        <input 
          type="text"
          id="activity"
          class="form-control"
          formControlName="activity">
      </div>
    </div>
  </div>
  <div class="row justify-content-center" *ngIf="false">
    <div class="col-xs-12">
      <div class="form-group">
        <label for="day">Day of Week</label>
        <select
          appDropdown 
          class="form-control"
          formControlName="day">
          <option
            *ngFor="let day of allowedDays()"
            [ngValue]="day">{{ day }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="row justify-content-around">
    <div class="col-xs-2">&nbsp;</div>
    <div class="col-xs-2">
      <button 
        class="btn btn-success"
        type="submit">Save</button>
    </div>
    <div class="col-xs-2">
      <button 
        class="btn btn-danger" 
        type="button"
        (click)="onCancel()">Cancel</button>
    </div>
    <div class="col-xs-2">&nbsp;</div>
  </div>
</form>
